// COLORS

$mine-shaft:                            lighten(#000, 20%) !default;   // #333 old : $gray-dark
$silver-chalice:                        #454545 !default; // #555
$silver-nobel:                          #b5b5b5 !default; // #999
$silver-mercury:                        #ececec !default; // #eee
$christine:                             #ea5b0c !default;
$candy-apple-red:                       #f80707 !default; // red

$brand-primary:                         #c8007b !default;
$brand-secondary:                       #0055a4 !default;
$brand-success:                         #05d0a6 !default;
$brand-info:                            #009dcc !default;

$brand-warning:                         #ff9966 !default;
$brand-danger:                          #fb004c !default;
$brand-customer:                        $brand-success !default;
$brand-byou-b:                          #00b5de !default;
$brand-byou-y:                          #007dc5 !default;
$brand-byou-o:                          #39bdab !default;
$brand-byou-u:                          #00b25a !default;
$brand-pro:                             #583273 !default;

$text-color:                            #666666 !default;
$btn-default-border:                    #CCCCCC !default;

$white:                                 #ffffff !default;
$black:                                 #000000 !default;

$gallery-gray:                          #ececec !default;
$navbar-default-link-active-color:      #555555 !default;
$table-bg-hover:                        #f5f5f5 !default;

// FORMS

//** `<input>` border color
$input-border:                          #eaeaea !default;

//** `<input>` border color
$input-border-check:                    #cccccc !default;

//** Text color for `<input>`s
$input-color:                           $silver-chalice !default;

//** Placeholder text color
$input-color-placeholder:               $silver-chalice !default;


//  FONT SIZES
$font-size-normal: 14px;
