@import "./variables";
@import "./mixins";


pre{

    background-color: $silver-mercury;
    border: $silver-nobel 1px solid;
    border-radius: 5px;
    color: $silver-chalice;
    font-size: $font-size-normal;
    padding: 10px 15px;
}

/////////////////
// Buttons

.btn {
    @include button-variant($white, $silver-chalice, $silver-chalice);
}
.btn-primary {
    @include button-variant($white, $brand-primary, $brand-primary);
}
.btn-secondary {
    @include button-variant($white, $brand-secondary, $brand-secondary);
}
.btn-info {
    @include button-variant($white, $brand-info, $brand-info);
}


// work in progress



//////////////////
// Form
.form-control {

    background-color: $silver-mercury;
    border: 1px solid $input-border;
    color: $silver-chalice;

    &:focus {

        background-color: $brand-info;
        border-color: $brand-info;
        color: $white;
        outline: 0;
    }

    @include transition(border-color ease-in-out .15s, background-color ease-in-out .15s, color ease-in-out .15s);
    @include placeholder;
}
