// Placeholder text
@mixin placeholder($color: $silver-chalice) {
    &::-moz-placeholder           { color: $color;   // Firefox
    opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome

    &:focus {
        &::-moz-placeholder           { color: $white;   // Firefox
          opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
        &:-ms-input-placeholder       { color: $white; } // Internet Explorer 10+
        &::-webkit-input-placeholder  { color: $white; } // Safari and Chrome
    }
}

@mixin button-variant($color, $background, $border) {

    background-color: $background;
    border-color: $border;
    color: $color;
    cursor: pointer;

    &.btn-trs {
        background-color: transparent;
    }
    &.reversed {
        background-color: $white;
        border-color: $border;
        color: $background;
    }
    &.contrast {
        background-color: transparent;
        border-color: $color;
        color: $color;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $background;
        background-color: $color;
        border-color:$border;

        &.normal {
            color: $color;
            background-color: darken($background, 5%);
            border-color:$color;
        }
        &.reversed {
            background-color: $background;
            border-color: $border;
            color: $white;
        }

        &.no-hover {
            color: $color;
            background-color: $background;
            border-color: $border;
        }
        &.btn-outline {
            color: $silver-chalice;
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}


// Base 64 icons for forms
@mixin bytel-success-icon(){
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00MzIsNjRMMTkyLDMwNEw4MCwxOTJMMCwyNzJsMTkyLDE5MmwzMjAtMzIwTDQzMiw2NHoiLz48L3N2Zz4=);
}

@mixin bytel-error-icon(){
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTQ3OS44LDEzMUwzNzYsMjcuMmwtMTIwLDEyMGwtMTIwLTEyMEwzMi4yLDEzMWwxMjAsMTIwbC0xMjAsMTIwTDEzNiw0NzQuOGwxMjAtMTIwbDEyMCwxMjBMNDc5LjgsMzcxbC0xMjAtMTIwTDQ3OS44LDEzMXoiLz48L3N2Zz4=);
}


// Transitions

@mixin transition($transition...) {

    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transition-property($transition-property...) {

    -webkit-transition-property: $transition-property;
    transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {

    -webkit-transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {

    -webkit-transition-duration: $transition-duration;
    transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {

    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {

    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}