<div class="jumbotron">
  <h1 class="display-3">Formulaire DAD</h1>
  <p class="lead">Recréer le formulaire DAD de Bouygues Télécom. <a href="https://www.bouyguestelecom.fr/dad/" class="link" target="_blank">Voir ici.</a></p>
  <hr class="my-4">
  <p><strong>Compétences :</strong></p>
  <ul>
    <li>Intégration de formulaire en BS4 <span class="badge badge-primary">INTE</span></li>
    <li>Apprendre le ngModel <span class="badge badge-secondary">DEV</span></li>
    <li>Manipulation de formulaire (patterns, required, submit) <span class="badge badge-secondary">DEV</span></li>
    <li>Inclusion de templates externes <span class="badge badge-secondary">DEV</span></li>
  </ul>
</div>


