<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9 m-lg-auto">
            <div class="jumbotron">
              <h1 class="display-3">Formulaire DAD</h1>
              <p class="lead">Recréer le formulaire DAD de Bouygues Télécom. <a href="https://www.bouyguestelecom.fr/dad/" class="link" target="_blank">Voir ici.</a></p>
              <hr class="my-4">
              <p><strong>Compétences :</strong></p>
              <ul>
                <li>Intégration de formulaire en BS4 <span class="badge badge-primary">INTE</span></li>
                <li>Apprendre le ngModel <span class="badge badge-secondary">DEV</span></li>
                <li>Manipulation de formulaire (patterns, required, submit) <span class="badge badge-secondary">DEV</span></li>
                <li>Inclusion de templates externes <span class="badge badge-secondary">DEV</span></li>
              </ul>
            </div>
        </div>
    </div>
</div>

<div class="dad-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <h1 class="title-form">Passer à la fibre Bouygues Telecom</h1>
            </div>
        </div>
    </div>

    <!-- CONTRAT -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Contrat</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de contrat</label>
                        <input class="form-control" type="text" placeholder="Numéro de contrat" name="contract_id" minlength="13" maxlength="13">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <select class="form-control" name="company_name">
                        </select>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Identifiant vendeur</label>
                        <input class="form-control" type="text" placeholder="Identifiant vendeur" name="seller_id">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Date de naissance (JJ/MM/AAAA)</label>
                        <input class="form-control" type="text" placeholder="Date de signature du contrat (JJ/MM/AAAA)" name="contract_signed_at" minlength="10" maxlength="10">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CORDONNEES -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Cordonnées</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 mb-3 mb-lg-0">
                        <div class="row pl-3 pr-3" data-toggle="buttons">
                            <label class="col-12 col-md btn btn-default active">
                                <input type="radio" name="type_client" id="newCustomer" autocomplete="off" checked>
                                Nouveau client fixe
                            </label>

                            <label class="col-12 col-md btn btn-default">
                                <input type="radio" name="type_client" id="alreadyCustome" autocomplete="off">
                                Déjà client fixe
                            </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 mb-3 mb-lg-0">
                        <div class="row pl-3 pr-3" data-toggle="buttons">
                            <label class="col-12 col-md btn btn-default active">
                                <input type="radio" name="prefix" id="M." autocomplete="off" checked>
                                Monsieur
                            </label>

                            <label class="col-12 col-md btn btn-default">
                                <input type="radio" name="prefix" id="Mme" autocomplete="off">
                                Madame
                            </label>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Nom</label>
                        <input class="form-control" type="text" placeholder="Nom" name="lastname">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Prénom</label>
                        <input class="form-control" type="text" placeholder="Prénom" name="firstname">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Date de naissance (JJ/MM/AAAA)</label>
                        <input class="form-control" type="text" placeholder="Date de naissance (JJ/MM/AAAA)" name="birth_date" minlength="10" maxlength="10">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Département de naissance</label>
                        <select class="form-control" name="birth_department">
                        </select>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Téléphone mobile</label>
                        <input class="form-control" type="text" placeholder="Téléphone mobile" name="mobile" minlength="10" maxlength="10">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Téléphone fixe</label>
                        <input class="form-control" type="text" placeholder="Téléphone fixe" name="fixe" minlength="10" maxlength="10">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Email de contact</label>
                        <input class="form-control" type="email" placeholder="Email de contact" name="email">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Pièce d'identité de l'acheteur</label>
                        <input class="form-control" type="text" placeholder="Pièce d'identité de l'acheteur" name="identity_document">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de la pièce d'identité</label>
                        <input class="form-control" type="text" placeholder="Numéro de la pièce d'identité" name="identity_document_number">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NUMERO DE TELEPHONE -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Numéro de téléphone</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9">
                        <div class="row pl-3 pr-3" data-toggle="buttons">
                            <label class="col-12 col-md btn btn-default active">
                                <input type="radio" name="keep" id="option1" autocomplete="off" checked>
                                Conserver mon numéro
                            </label>

                            <label class="col-12 col-md btn btn-default">
                                <input type="radio" name="keep" id="option2" autocomplete="off">
                                Obtenir un nouveau numéro
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="annuaire_universel" id="annuaire_universel">
                                    Inscription à l'Annuaire Universel Fixe
                                </label>
                            </div>
                            <div class="col-12 ml-3 d-none">

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="anti_prospection" id="anti_prospection">
                                        Anti-prospection
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="sans_adresse_complete" id="sans_adresse_complete">
                                        Sans adresse complète
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="sans_prenom_complet" id="sans_prenom_complet">
                                        Sans prénom complet
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="anti_annuaire_inverse" id="anti_annuaire_inverse">
                                        Anti-Annuaire inversé
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 form-group">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="controle_parental" id="controle_parental">
                                    Activation contrôle parental
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ADRESSE D'INSTALLATION -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Adresse d'installation</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Adresse (Numéro + voie)</label>
                        <input class="form-control" type="text" placeholder="Adresse (Numéro + voie)" name="address">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <div class="row">
                            <div class="col-12 col-lg mb-3 mb-lg-0">
                                <label class="sr-only">Batiment</label>
                                <input class="form-control" type="text" placeholder="Batiment" name="">
                            </div>

                            <div class="col-12 col-lg mb-3 mb-lg-0">
                                <label class="sr-only">Etage</label>
                                <input class="form-control" type="text" placeholder="Etage" name="">
                            </div>

                            <div class="col-12 col-lg">
                                <label class="sr-only">Escalier</label>
                                <input class="form-control" type="text" placeholder="Escalier" name="">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Ville</label>
                        <input class="form-control" type="text" placeholder="Ville" name="city">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Code postal</label>
                        <input class="form-control" type="text" placeholder="Code postal" name="postal_code" minlength="5" maxlength="5">
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <label class="sr-only">Numéro de prise PTO (Prise de termination optique)</label>
                        <input class="form-control" type="text" placeholder="Numéro de prise PTO (Prise de termination optique)" name="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SELECTION UNE BBOX -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header align-items-center pb-4 pb-md-0">
                    <div class="col-12 col-md-6">
                        <h2 class="box-title">Sélectionner une offre Bbox :</h2>
                    </div>

                    <div class="col col-md-auto">
                        <input class="fake-radio-input" type="radio" id="miami" name="offer" value="miami"/>
                        <span class="fake-radio"></span>
                        <label class="mb-0 pl-2" for="miami">Miami</label>
                    </div>

                    <div class="col col-md-auto">
                        <input class="fake-radio-input" type="radio" id="miami_plus" name="offer" value="miami_plus"/>
                        <span class="fake-radio"></span>
                        <label class="mb-0 pl-2" for="miami_plus">Miami+</label>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12">
                        Block CMS 1
                    </div>

                    <div class="col-12">
                        Block CMS 2
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- MOYEN DE PAIEMENT -->
    <section class="container box">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto">
                <div class="row box-header">
                    <div class="col-12">
                        <h2 class="box-title">Moyen de paiement</h2>
                    </div>
                </div>

                <div class="row box-content justify-content-center">
                    <div class="col-12 col-md-9 form-group">
                        <input class="fake-radio-input" type="radio" id="prelevement" name="payment_method" value="prelevement"/>
                        <span class="fake-radio"></span>
                        <label class="pl-2" for="prelevement">Prélèvement</label>
                    </div>

                    <div class="col-12 col-md-9 form-group">
                        <input class="fake-radio-input" type="radio" id="mandat" name="payment_method" value="mandat"/>
                        <span class="fake-radio"></span>
                        <label class="pl-2" for="mandat">Mandat à compte (à remettre)</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- VALIDER -->
    <section class="container submit-dad">
        <div class="row">
            <div class="col-12 col-lg-9 m-lg-auto text-center">
                <div class="row justify-content-center">
                    <button class="col-5 btn btn-primary contrast mt-2 mb-4" type="submit">
                        <span class="lead">Valider</span>
                    </button>
                </div>

                <p class="text">En validant, vous ne serez plus en mesure de modifier votre demande.</p>
            </div>
        </div>
    </section>
</div>

