@import "~sass/bytel-variables";

.header {

}
.content {

  background-color: #ececec;
  min-height: 500px;
  padding-bottom: 20px;
}

.footer {

  border-top: $silver-nobel 1px solid;
  padding: 10px;
}