@import '~sass/bytel-variables';

.demo {

  > * {

    background: $silver-mercury;
    margin-bottom: 15px;
    outline: $silver-nobel 1px solid;
    padding: 10px;
  }
}

pre {
  width: 100%;
}

.box {

    color: $silver-chalice;
    margin-bottom: 30px;

    .box-header {

        background-color: $white;
        padding: 19px 19px 15px;
    }

    .box-content {
        background-color: $white;
        margin-top: 2px;
        padding: 20px 20px 20px;

        .content-title {
            margin-bottom: 30px;
        }

        .buttons {

            .row {
                padding: 15px 0;

                .dark {
                    background-color: $silver-mercury;
                    padding: 10px 15px;
                }
                .darker {
                    background-color: $silver-chalice;
                    padding: 10px 15px;
                }
            }
        }
    }

}